.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #322d6d 6.33%, #1f1144 39.13%);
}

.mountain1 {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 100px;
    height: 446px;
    background-image: url(../public/mountain1.svg);
}

.mountain2 {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 80px;
    height: 464px;
    background-image: url(../public/mountain2.svg);
}

.mountain3 {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 257px;
    height: 408px;
    background-image: url(../public/mountain3.svg);
}

.mountain4 {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 376px;
    height: 457px;
    background-image: url(../public/mountain4.svg);
}

.mountain5 {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 330px;
    height: 807px;
    background-image: url(../public/mountain5.svg);
}

.mountain6 {
    position: absolute;
    width: 100%;
    top: 610px;
    height: 500px;
    background-image: url(../public/hero-wave.svg);
    background-position: top center;
    background-repeat: no-repeat;
}

.blurlayer {
    position: absolute;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    top: 100px;
    height: 1503px;
    background-image: url(../public/blur-layer.webp);
}

.title {
    position:absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
}

.text {
    position:absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}