.main {
    position: absolute;
    top:880px;
    background-color: #1f1144;
    list-style: none;
    width:100vw;
}
.main a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size:1.3rem;
}

.blogtitle {
    width:80%;
    margin:2rem auto;
    padding:3rem;
    border-top: 1px dashed rgba(255, 255, 255, 1);
    border-bottom: 1px dashed rgba(255, 255, 255, 1);
}

.canvas {
    background-color: #1f1144;
    display: block;
    height:700px;
    width: 100%;
}