.main {
    position: absolute;
    top:880px;
    background-color: #1f1144;
    list-style: none;
    width:100vw;
}
.main a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size:1.3rem;
}

.blogtitle {
    width:50%;
    margin:1.5rem auto;
    padding:4rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius:2rem;
}